<div class="row">
  <div class="col-md-6">
    <%= high_chart("some_id", @chart) %>
  </div>
  <div class="col-md-6">
    <%= high_chart("some_id1", @chart1) %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("some_id2", @chart2) %>
    </div>
    <div class="col-md-6">
      <%= high_chart("some_id3", @chart3) %>
    </div>
  </div>
</div>

